.title {
	background-color: #f0ad4e;
	color: white;
}

.mui-bar-tab .mui-tab-item.mui-active {
	color: #f0ad4e;
}

.font-style {
	line-height: 42px;
}

.icon-style {
	margin-right: 10px;
	color: #f0ad4e;
}

.lemon-content {
	width: 100%;
	height: auto;
	margin-top: 150px;
	text-align: center;
}
